.cmt-datetime {
    font-size: 12px;
}

.photoDesOfUser {
    min-height: 500px;
    margin: auto;
}

.photo {
    /* max-height: 500px; */
    object-fit: cover;
}

.container {
    height: 100vh;
    width: 600px;
}